.care-page {
    .care-bg {
        position: relative;
        overflow: hidden;
        padding-top: 100px;
        height: calc(100vh - 60px);
        background-image: url(../../public/images/care/background.png);
        background-size: contain;
        background-position: center bottom;
    }


    .wave-background {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 200px;
        background: linear-gradient(to top, #8a1111, #ffffff);
        clip-path: path("M0 100 C200 0 400 200 600 100 C800 0 1034 298 1529 23 L1556 451 L0 400 Z");
        z-index: -1;
    }



    .valuable {
        &.top {
            padding-bottom: 350px;
            padding-top: 50px;
        }

        &.bottom {
            padding-bottom: 150px;
        }

        .val-left {
            position: relative;

            .arrow {
                position: absolute;
                left: -120px;
                top: -35px;
            }

            .cloud {
                margin-left: 120px;
                margin-top: 100px;
                max-width: 300px;
                height: auto;
                opacity: .3;
            }

            h2 {
                color: $primary;
                text-transform: uppercase;

            }

            &.val-left-1 {
                .arrow {
                    top: -320px;
                }

                .cloud {
                    margin-left: -260px;
                    margin-bottom: -350px;
                    margin-top: unset;
                }

                h2 {
                    padding-top: 100px;
                }

            }
        }

        .val-right {
            padding-top: 130px;

            .hover-content {
                background: #f1f1f1;

            }

            .hover-item {
                h5 {
                    font-weight: 500;
                    color: $primary;

                    &:hover {
                        font-weight: bold;
                    }
                }

            }

            &.val-right-1 {
                padding-top: 0;
                position: relative;

                .right-cloud {
                    position: absolute;
                    right: -60%;
                    top: -50%;
                    opacity: .3;
                    max-width: 300px;
                    height: auto;
                }
            }
        }
    }
}