.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1d1d1d;
    color: $white;
    border-top: 15px solid #dcdcdc;
    padding-top: 45px;
    padding-bottom: 45px;

    .animated-heading {
        padding-bottom: 15px;
    }

    a {
        color: $white;
        text-decoration: none;

        &:hover {
            font-weight: 600;
        }
    }

    .social-links {
        a {
            color: #1d1d1d;
            display: inline-block;
            width: 35px;
            height: 35px;
            border-radius: 50%;
            text-align: center;
            line-height: 48px;
            background: $white;
            margin-right: 15px;

            &:hover {
                background: $primary;
                color: $white;
            }
        }
    }
}

.footer-bottom {
    background: $primary;
    text-align: center;
    color: $white;
    padding: 10px;
}